.idea
**/.DS_Store
.DS_Store
**/__pycache__
__pycache__
venv
ud-treebanks-v2.6.tgz
ud-treebanks-v2.6
PUDs
processedData
temp
unprocessedData/ar
unprocessedData/cs
unprocessedData/en
unprocessedData/fi
unprocessedData/id
unprocessedData/ja
unprocessedData/ko
unprocessedData/pl
unprocessedData/tr
unprocessedData/th
unprocessedData/ru
unprocessedData/zh